[Unit]
DefaultDependencies=no
After=network.target

[Service]
Type=simple
EnvironmentFile=path/to/env_files/%i.env
Restart=always
RestartSec=3
User=your-user
Group=your-group
ExecStart=/bin/bash /path/to/watchdog.sh
TimeoutStartSec=0
WatchdogSec=16
NotifyAccess=all

[Install]
WantedBy=default.target

